<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Games Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="games-link">
                <a href="{% url 'products' %}?category=xbox" class="dropdown-item">Xbox</a>
                <a href="{% url 'products' %}?category=playstation" class="dropdown-item">Playstation</a>
                <a href="{% url 'products' %}?category=nintendo_switch" class="dropdown-item">Nintendo Switch</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Games</a>
            </div>
        </li>

        <!-- Consoles & Accessories Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles &amp; Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=xbox_one__series_s/x" class="dropdown-item">Xbox One &amp; Series S/X</a>
                <a href="{% url 'products' %}?category=ps3_ps5" class="dropdown-item">PS3-PS5</a>
                <a href="{% url 'products' %}?category=nintendo_switch" class="dropdown-item">Nintendo Switch</a>
                <a href="{% url 'products' %}?category=headsets" class="dropdown-item">Headsets</a>
                <a href="{% url 'products' %}?category=controllers" class="dropdown-item">Controllers</a>
                <a href="{% url 'products' %}?category=chargers" class="dropdown-item">Chargers</a>
                <a href="{% url 'products' %}?category=old_consoles" class="dropdown-item">Old Consoles</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <!-- Special Offers Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=about_to_go!" class="dropdown-item">About To Go!</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>
