{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
    <!-- Full screen background with image -->
    <div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center" 
         style="background: url('/media/background_image.jpg') no-repeat center center fixed; 
                background-size: cover;">

        <div class="row w-100 justify-content-center">
            <div class="col-md-6 col-lg-4 bg-dark p-5 rounded shadow-lg" style="background-color: #323333;">
                <!-- Sign-in Title -->
                <h1 class="text-center text-white mb-4">
                    {% trans "Sign In" %}
                </h1>

                {% if not SOCIALACCOUNT_ONLY %}
                    <!-- Signup information -->
                    <div class="signup-info mb-4">
                        {% setvar link %}
                            <a href="{{ signup_url }}" class="text-decoration-none text-white">
                        {% endsetvar %}
                        {% setvar end_link %}
                            </a>
                        {% endsetvar %}
                        <p class="text-center text-white">
                            {% blocktranslate %}
                                If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.
                            {% endblocktranslate %}
                        </p>
                    </div>

                    <!-- Login Form -->
                    {% url 'account_login' as login_url %}
                    {% element form form=form method="post" action=login_url tags="entrance,login" %}
                        {% slot body %}
                            {% csrf_token %}
                            {% element fields form=form unlabeled=True %}
                            {% endelement %}
                            {{ redirect_field }}
                        {% endslot %}
                        {% slot actions %}
                            {% element button type="submit" tags="prominent,login" class="btn btn-outline-light w-100" %}
                                {% trans "Sign In" %}
                            {% endelement %}
                        {% endslot %}
                    {% endelement %}
                {% endif %}

                {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                    <hr class="separator my-4">
                    <div class="button-group text-center">
                        {% if PASSKEY_LOGIN_ENABLED %}
                            {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary w-100" %}
                                {% trans "Sign in with a passkey" %}
                            {% endelement %}
                        {% endif %}
                        {% if LOGIN_BY_CODE_ENABLED %}
                            {% element button href=request_login_code_url tags="prominent,login,outline,primary w-100" %}
                                {% trans "Mail me a sign-in code" %}
                            {% endelement %}
                        {% endif %}
                    </div>
                {% endif %}

                {% if SOCIALACCOUNT_ENABLED %}
                    <div class="social-login mt-4">
                        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
